doctype html
html 
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js',charset='utf-8')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js')

  body
    nav.navbar.navbar-fixed-top
      div.container
        div.navbar-header
          a(href='/', class='navbar-brand') WHO Visualization
        nav
        div#navbar(class='collapse navbar-collapse pull-right')
          ul.nav.navbar-nav
              li: a(href='/whoviz/') Tree Map
              li: a(href='/heatmap') Heat Map
              li: a(href='/who3d/') Fact sheets
              //- To implement
              li: a(href='#') Gamification
                  
    div
      block content
            
    div.footer
      div.container
        div.row
          p.text-muted Created by Cedric
          p: a(href='https://github.com/Milt0n/WHOVisualization') Sauce
  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')