extends layout

block content
  div.container
    div.row
      div#map.col-lg-6
        script(type='text/javascript', src='/javascripts/who3d.js')
      div.col-lg-6
        div#dropDown
        br
        div#info
