extends layout

block content
  div.container-fluid
    div.row
      div.col-sm-6
        div#map
        script(type='text/javascript', src='/javascripts/who3d.js')
      div.col-sm-6
        p some descriptions to come