extends layout

block content
  div.container
    div.row
      div.col-lg-12.col-centered.content-map
        div#dropDown
        script(type='text/javascript', src='/javascripts/whovizunivariate.js')
  div.container
    div.row
      p#country Country: 
      p#value Value: 

            