extends layout

block content
  div.container
    div.row.row-centered
      div.col-lg-12.col-centered.content-map
        script(type='text/javascript', src='/javascripts/whovizunivariate.js')
          //form
          //  label
          //    input(type='radio', name='mode', value='size', checked)
          //    | Size
          //  label
          //    input(type='radio', name='mode', value='size')
          //    | Count
            